@import "tailwindcss";

@theme inline {
  --color-brand-navy: #0A192F;
  --color-brand-auth: #ffffff;
  --color-brand-light-gray: #F8F9FA;
  --color-brand-gold: #c3b091;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}